{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container profile-container rounded">
        <h1>Ваш профиль</h1>
        <h5 class="profile-info">Логин: {{ user }}</h5>
        <h5 class="profile-info">Имя: {{ user.first_name }}</h5>
        <h5 class="profile-info">Фамилия: {{ user.last_name }}</h5>
        <h5 class="profile-info">Email: {{ user.email }}</h5>
        <form action="/accounts/profile/edit">
            <button class="btn btn-secondary">Редактировать профиль</button>
        </form>
    </div>
{% endblock %}