{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for image_item in product.productimage_set.filter %}
                    <div class="product-page-img">
                        <img src="{{ image_item.image.url }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="product-page-price">
                    <h4>
                        Цена: {{ product.price }} &#8381/шт
                    </h4>
                </div>
                <form class="form-inline product-page-form-buy" id="form_buying_product">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <input type="number" class="form-control" id="product_page_number" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-page-buy" id="product_submit_btn"
                            data-product_id = "{{ product.id }}"
                            data-product_name = "{{ product.name }}"
                            data-product_price = "{{ product.price }}"
                        >
                            Купить
                        </button>
                    </div>
                </form>
                <ul class="nav nav-tabs nav-product-page" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description" role="tab"
                           aria-controls="home" aria-selected="true">Описание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#delivery" role="tab"
                           aria-controls="profile" aria-selected="false">Доставка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#characteristics" role="tab"
                           aria-controls="contact" aria-selected="false">Характеристики</a>
                    </li>
                </ul>
                <div class="tab-content product-description-tabs" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
                        {{ product.description }}
                    </div>
                    <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="profile-tab">
                        <h3>Как мы делаем доставку</h3>
                    </div>
                    <div class="tab-pane fade" id="characteristics" role="tabpanel" aria-labelledby="contact-tab">
                        <p>Характеристики</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}