<div class="header-top">
    <div class="row">
        <div class="col">
            <a href="#" class="h-contacts">Контакты</a>
        </div>
        <div class="col">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col">
            <a href="#" class="h-login">Вход</a>
        </div>
        <div class="col">
            <a href="#" class="h-fav">Избранное</a>
        </div>
        <div class="col">
            <a href="#" class="h-basket">Корзина</a>
        </div>
    </div>
</div>