{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CENTROBEZHNAJA</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'static_dev/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'static_dev/css/font-awesome.min.css' %}">

</head>
<body>

<div class="general-container">
    <div class="container top-container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="brand-container">
                    <h1 class="brand-title text-uppercase">centrobezhnaya</h1>
                </div>
                <div class="title-container">
                    <h1 class="title">Наш сайт скоро откроется!</h1>
                </div>
                <div>
                    <form action="" method="POST" class="form-inline text-center">{% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="{{ form.name.email }}" class="form-control input-lg"
                                   placeholder="Оставьте ваш email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-orange btn-lg">Подписаться!</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="social-icons col-lg-10 col-lg-offset-1">
            <div class="icon-text">
                <a href="https://www.instagram.com/centrobezhnaja/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>